<h3><%= @user.first_name %></h3>
<hr>
<br>

<% @events.each do |event| %>
  <p><%=link_to event.event_name, event_path(event) %></p>
<% end %>

<br>
<%= button_to 'Logout', { controller: :sessions , action: :destroy }, method: :delete %>