<h3><%= @user.first_name %></h3>
<hr>
<br>
<% if !!flash[:notice] %>
  <%= flash[:notice]%>
<% end %>

<% @events.each do |event| %>
  <p><%=link_to event.event_name, event_path(event) %></p>
<% end %>

<br>
<% if current_user.id == @user.id %>
<%= button_to 'Delete Account', { controller: :users, action: :destroy }, method: :delete %>
<% end %>