<% if flash[:errors] %>
	<% flash[:errors].each do |error| %>
    <script>
      M.toast({html: "<%= error %>"})
    </script>
	<% end %>
<% end %>


<h2>Edit this Event!</h2>

<%= render partial: 'form' %>